.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f172a;
  min-height: 100vh;
}
@media screen and (max-width: 768px) {
  .main-container {
    display: flex;
  }
}
@media screen and (min-width: 576px) {
  .main-container {
    display: flex;
  }
}
.heading {
  color: #ffffff;
  font-family: "Roboto";
  text-align: center;
}
.image {
  width: 130px;
  height: 140px;
}
